<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport">
<title>SIN PERMISO</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link th:href="@{/css/style-magrama-rwd.css}" rel="stylesheet" />
<link th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>

<body>
	<!-- Header -->
	<div th:replace="Header2.html :: header"></div>

	<!-- End Header -->


 <h1 th: inline = "text"> ¡Lo siento! </h1>
 <p> No tiene permiso para acceder a esta página ------- Esta es la interfaz 403. </p>
 <p> <a th:href="@{/login}"> Vaya a la interfaz de usuario normal </a> </p>
        <form th:action="@{/logout}" method="post">
 			<input type = "submit" value = "cerrar sesión" />
        </form>
    </body>
</html>