<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport">
<title>CAMBIO DE DNI</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link th:href="@{/css/style-magrama-rwd.css}" rel="stylesheet" />
<link th:href="@{/css/estilo.css}" rel="stylesheet" />


</head>

<body>
	<!-- Header -->
	<div th:replace="Header.html :: header"></div>

	<!-- End Header -->

	<!-- Container -->
	<div class="container">
		<!-- contenido de la página -->
		<div class="col-md-12">
			<div class="row clearfix">
				<div class="migas">
					<ul>
						<li xmlns:myobj="mgm:component-link"><a	href="https://portal.mineco.gob.es/">Inicio</a></li>
						<li><b>Cambio de DNI</b></li>						
					</ul>
				</div>
				<div class="col-md-12" id="main">
					<!-- contenedor principal -->
					<div class="row row-offcanvas row-offcanvas-left">
						<div class="col-xs-0 col-sm-3 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
							<div th:replace="Menu.html :: menuNedaes"></div>
						</div>
						<!-- /sidebar offcanvas -->
						<div class="col-xs-12 col-sm-9 col-md-9 contenido">
							<h2 class="pestana-titulo col-md-9">Cambio de DNI</h2>

							<span class="pestana-flecha"></span>


							<!-- Fin Barra de herramientas -->
							<div class="col-md-12 contenido subhome-new">

								<!-- CONTENIDO -->
								<form th:action="@{/consultaCambioDni}"  th:object="${bpersona}" enctype="multipart/form-data" name="fDni" id="fDni">
									<div>
										<div class="panel">
											<div class="title-container">
												<h3 id="ancla0" class="ma-panel-title">Búsqueda</h3>
											</div>
											<div class="panel-body">
												<div class="panel-info container">

													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${cdclasnm}" id="cdclasnm" name="cdclasnm" onkeypress='document.getElementById("clasenomina").value = this.value;'/> 
																<label for="cdclasnm">CN: </label>
															</div>
														</div>
														
														<div class="col-md-4">
															<div class="form-group" th:if="${clasenomina == null}">
																<select id="clasenomina" name="clasenomina"	class="user-form-control" onchange='document.getElementById("cdclasnm").value = this.value;'/>
																	<option th:value="0">--Seleccione Clase de Nómina--</option>
																	<option th:each="c : ${clasenominas}"
																		th:value="${c.idClasenomina}"
																		th:attr="choiceid=${c.idClasenomina}"
																		th:text="${c.dsclasnm}" />
																</select> <label for="clasenomina">Clase de Nómina: </label>
															</div>
															<div class="form-group" th:if="${clasenomina != null}">
																<select id="clasenomina" name="clasenomina" value="${clasenomina}" class="user-form-control">
																	<option th:value="0">--Seleccione Clase de Nómina--</option>
																	<option th:each="c : ${clasenominas}"
																		th:value="${c.idClasenomina}"
																		th:attr="selected = (${clasenomina.getIdClasenomina()} == ${c.idClasenomina})"
																		th:text="${c.dsclasnm}"/>
																</select> <label for="clasenomina">Clase de Nómina: </label>
															</div>
														</div>
														
													</div>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${cddni}" id="cddni" name="cddni" oninput='letraDNI(this.value);'/> 
																<label for="cddni">DNI: </label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${cddup}" id="cddup" name="cddup" /> 
																<label for="cddup">D: </label>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${dsapell1}" id="dsapell1" name="dsapell1" /> 
																<label for="dsapell1">Primer Apellido: </label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${dsapell2}" id="dsapell2" name="dsapell2" /> 
																<label for="dsapell2">Segundo Apellido: </label>
															</div>
														</div>
														
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${dsnombre}" id="dsnombre" name="dsnombre" /> 
																<label for="dsnombre">Nombre: </label>
															</div>
														</div>
													</div>													
													<div class="row">

														<div class="col-md-8">
															<div class="form-group" th:if="${mensaje != null}">
																<label th:text="${mensaje}"></label>
															</div>
														</div>
													</div>
													<br> <br>
													<div class="row">
														<div class="col-md-4 text-center">
															<div class="form-group">
																
															</div>
														</div>
														<div class="col-md-4 text-center">
															<div class="form-group">
																<a type="button" class="btn btn-secondary" th:href="@{/cambioDnis}">Limpiar</a>
															</div>
														</div>
														<div class="col-md-4 text-center">
															<div class="form-group">
																<input type="submit" class="btn btn-primary" value="Buscar"
																	onclick="document.fDni.action = '/nedaes/consultaCambioDni/1'; document.fDni.method='get'; document.fDni.submit()" />
															</div>
														</div>
													</div>
												</div>
											</div>
											<br> <br>
											<div class="panel" th:if="${not #lists.isEmpty(listado)}">
												<div
													class="title-container d-md-flex justify-content-between align-items-center mb-3">
													<h3 class="ma-panel-title">Resultados</h3>
												</div>

												<div class="panel-body">
													<div class="panel-info container">
														<div class="row">
															<div class="col-md-12">
																<div class="table-responsive">
																	<table class="ma-table table">
																		<thead>
																			<tr>
																				<th>CN</th>
																				<th>CLASE NOMINA</th>
																				<th>DNI</th>
																				<th>D</th>
																				<th>PRIMER APELLIDO</th>
																				<th>SEGUNDO APELLIDO</th>
																				<th>NOMBRE</th>
																				<th>Acciones</th>																				
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="per : ${listado}">
																				<td th:text="${per.cdclasnm}"></td>
																				<td th:text="${per.clasenomina.dsclasnm}"></td>
																				<td th:text="${per.cddni}"></td>
																				<td th:text="${per.cddup}"></td>
																				<td th:text="${per.dsapell1}"></td>
																				<td th:text="${per.dsapell2}"></td>
																				<td th:text="${per.dsnombre}"></td>
																				<td>
																					<ul class="ma-btn-acciones">
																						<li><a th:href="@{/editarCambioDni?(id=${per.idbpersona})}"     class="ma-btn ma-btn-edit"></a></li>
																					</ul>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- class="table-responsive" -->
									<div class="d-flex pagination-content"> 
										<div class="form-group pagination-content_select">		
											<label for="eppResultados">Elementos/Página: </label> 
											<select	name="eppResultados" id="eppResultados"	th:value="${eppResultados}"	class="browser-default">
												<option value="10" th:attr="selected = (10 == ${eppResultados})">10</option>
												<option value="20" th:attr="selected = (20 == ${eppResultados})">20</option>
												<option value="50" th:attr="selected = (50 == ${eppResultados})">50</option>
											</select>
										</div>
										<div>Página [[${currentPage}]] de [[${totalPages}]]</div>

										<nav aria-label="Page navigation example"
											th:if="${totalPages > 1}">
											<ul class="pagination">
												<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
													<input	type="submit" class="page-link pagination-first" value="|<"	th:unless="${currentPage > totalPages}" aria-label="First"
														onclick="document.fDni.action = '/nedaes/consultaCambioDni/'+ 1; document.fDni.submit()">
												</li>

												<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
													<input type="hidden" id="antPage" name="antPage"        th:if="${currentPage > 1}"	th:value="${currentPage}==null?0: ${currentPage}-1">
													<input type="submit" class="page-link pagination-prev"	th:if="${currentPage > 1}" value="<"          th:unless="${currentPage > totalPages}" aria-label="Previous"
														onclick="document.fDni.action = '/nedaes/consultaCambioDni/' + antPage.value; document.fDni.submit()">
												</li>

												<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
													<input type="hidden" id="sigPage" name="sigPage" th:value="${currentPage}==null?2: ${currentPage}+1">
													<input type="submit" class="page-link pagination-next"	th:if="${currentPage < totalPages}" value=">" th:unless="${currentPage > totalPages}" aria-label="Next"
														onclick="document.fDni.action = '/nedaes/consultaCambioDni/' + sigPage.value; document.fDni.submit()">
												</li>

												<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
													<input type="hidden" id="totalPage" name="totalPage"   th:if="${currentPage < totalPages}" th:value="${totalPages}"> 
													<input type="submit" class="page-link pagination-last" th:if="${currentPage < totalPages}" value=">|" th:unless="${currentPage > totalPages}" aria-label="First"
														onclick="document.fDni.action = '/nedaes/consultaCambioDni/'+ totalPage.value; document.fDni.submit()">
												</li>
											</ul>
										</nav>
									</div>
								</form>
							</div>
							<!-- antes del form -->
						</div>
						<!-- col med 12 -->
					</div>
				</div>
				<!-- main cierra col-md-9 contenido -->
			</div>
			<!-- main cierra row-offcanvas-left -->
		</div>
		<!-- main cierra col-md-12 main-->
	</div>
	<!-- cierra row -->

	<!-- Cierre containeer -->

	<!-- Footer -->
	<div th:replace="Footer.html :: pie"></div>
	<!-- End Footer -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script th:src="@{/js/script.js}"></script>

</body>
</html>
