<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport">
<title>PERCEPTORES</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link th:href="@{/css/style-magrama-rwd.css}" rel="stylesheet" />
<link th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>

<body>
	<!-- Header -->
	<div th:replace="Header.html :: header"></div>

	<!-- End Header -->

	<!-- Container -->
	<div class="container">
		<!-- contenido de la página -->
		<div class="col-md-12">
			<div class="row clearfix">
				<div class="migas">
					<ul>
						<li xmlns:myobj="mgm:component-link"><a	href="https://portal.mineco.gob.es/">Inicio</a></li>
						<li><b>Perceptores</b></li>						
					</ul>
				</div>
				<div class="col-md-12" id="main">
					<!-- contenedor principal -->
					<div class="row row-offcanvas row-offcanvas-left">
						<div class="col-xs-0 col-sm-3 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
							<div th:replace="Menu.html :: menuNedaes"></div>
						</div>
						<!-- /sidebar offcanvas -->
						<div class="col-xs-12 col-sm-9 col-md-9 contenido">
							<h2 class="pestana-titulo col-md-9">Perceptores</h2>

							<span class="pestana-flecha"></span>


							<!-- Fin Barra de herramientas -->
							<div class="col-md-12 contenido subhome-new">

								<!-- CONTENIDO -->
								<form th:action="@{/consultaProvincia}"  th:object="${perceptor}" enctype="multipart/form-data" name="fPer" id="fPer">
									<div>
										<div class="panel">
											<div class="title-container">
												<h3 id="ancla0" class="ma-panel-title">Búsqueda</h3>
											</div>
											<div class="panel-body">
												<div class="panel-info container">

													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${nombre}" id="nombre" name="nombre" /> 
																<label for="nombre">Nombre: </label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${apellidos}" id="apellidos" name="apellidos" /> 
																<label for="apellidos">Apellidos: </label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group" th:if="${provincia == null}">
																<select id="provincia" name="provincia"	class="user-form-control">
																	<option th:value="0">--Seleccione provincia--</option>
																	<option th:each="p : ${provincias}"
																		th:value="${p.idProvincia}"
																		th:attr="choiceid=${p.idProvincia}"
																		th:text="${p.dsprov}" />
																</select> <label for="provincia">Provincia: </label>
															</div>
															<div class="form-group" th:if="${provincia != null}">
																<select id="provincia" name="provincia" value="${provincia}"
																	class="user-form-control">
																	<option th:value="0">--Seleccione provincia--</option>
																	<option th:each="p : ${provincias}"
																		th:value="${p.idProvincia}"
																		th:attr="selected = (${provincia.getIdProvincia()} == ${p.idProvincia})"
																		th:text="${p.dsprov}"/>
																</select> <label for="provincia">Provincia: </label>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${dni}" id="dni" name="dni" /> 
																<label for="dni">Dni: </label>
															</div>
														</div>
<!-- 													<div class="col-md-4">
															<div class="form-group" th:if="${bperadm == null}">
																<select id="bperadm" name="bperadm"	class="user-form-control">
																	<option th:value="0">--Seleccione Situación--</option>
																	<option th:each="s : ${bperadms}"
																		th:value="${s.idbperadm}"
																		th:attr="choiceid=${s.idbperadm}"
																		th:text="${s.cdsitnom}" />
																</select> <label for="bperadm">Sit: </label>
															</div>
															<div class="form-group" th:if="${bperadm != null}">
																<select id="bperadm" name="bperadm" value="${bperadm}"
																	class="user-form-control">
																	<option th:value="0">--Seleccione Situación--</option>
																	<option th:each="s : ${bperadms}"
																		th:value="${s.idbperadm}"
																		th:attr="selected = (${bperadm.getIdBperadm()} == ${s.idbperadm})"
																		th:text="${s.cdsitnom}"/>
																</select> <label for="bperadm">Sit: </label>
															</div>
-->													
													<!--  														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${sit}" id="sit" name="sit" /> 
																<label for="sit">Sit: </label>
															</div>
														</div>
-->														
														<div class="col-md-4">
															<div class="form-group">
																<input class="material-inputs" type="text" th:value="${dup}" id="dup" name="dup" /> 
																<label for="dup">Dup: </label>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group" th:if="${clasenomina == null}">
																<select id="clasenomina" name="clasenomina"	class="user-form-control">
																	<option th:value="0">--Seleccione Clase de Nómina--</option>
																	<option th:each="c : ${clasenominas}"
																		th:value="${c.idClasenomina}"
																		th:attr="choiceid=${c.idClasenomina}"
																		th:text="${c.dsclasnm}" />
																</select> <label for="clasenomina">Clase de Nómina: </label>
															</div>
															<div class="form-group" th:if="${clasenomina != null}">
																<select id="clasenomina" name="clasenomina" value="${clasenomina}" class="user-form-control">
																	<option th:value="0">--Seleccione Clase de Nómina--</option>
																	<option th:each="c : ${clasenominas}"
																		th:value="${c.idClasenomina}"
																		th:attr="selected = (${clasenomina.getIdClasenomina()} == ${c.idClasenomina})"
																		th:text="${c.dsclasnm}"/>
																</select> <label for="clasenomina">Clase de Nómina: </label>
															</div>
														</div>
														
														<div class="col-md-4">
															<div class="form-group" th:if="${habilitacion == null}">
																<select id="habilitacion" name="habilitacion" class="user-form-control">
																	<option th:value="0">--Seleccione habilitación--</option>
																	<option th:each="h : ${habilitaciones}"
																		th:value="${h.idHabilitacion}"
																		th:attr="choiceid=${h.idHabilitacion}"
																		th:text="${h.cdhabil}" />
																</select> <label for="habilitacion">Habilitación: </label>
															</div>
															<div class="form-group" th:if="${habilitacion != null}">
																<select id="habilitacion" name="habilitacion" value="${habilitacion}" class="user-form-control">
																	<option th:value="0">--Seleccione habilitación--</option>
																	<option th:each="h : ${habilitaciones}"
																		th:value="${h.idHabilitacion}"
																		th:attr="selected = (${habilitacion.getIdHabilitacion()} == ${h.idHabilitacion})"
																		th:text="${h.cdhabil}"/>
																</select> <label for="habilitacion">Habilitación: </label>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-8">
															<div class="form-group" th:if="${mensaje != null}">
																<label th:text="${mensaje}"></label>
															</div>
														</div>
													</div>
													<br> <br>
													<div class="row">
														<div class="col-md-4 text-center">
															<div class="form-group">
																<a type="button" class="btn btn-success" th:href="@{/perceptor}">Nuevo</a>
															</div>
														</div>
														<div class="col-md-4 text-center">
															<div class="form-group">
																<a type="button" class="btn btn-secondary" th:href="@{/perceptores}">Limpiar</a>
															</div>
														</div>
														<div class="col-md-4 text-center">
															<div class="form-group">
																<input type="submit" class="btn btn-primary" value="Buscar"
																	onclick="document.fPer.action = '/nedaes/consultaPerceptor/1'; document.fPer.method='get'; document.fPer.submit()" />
															</div>
														</div>
													</div>
												</div>
											</div>
											<br> <br>
											<div class="panel" th:if="${not #lists.isEmpty(listado)}">
												<div
													class="title-container d-md-flex justify-content-between align-items-center mb-3">
													<h3 class="ma-panel-title">Resultados</h3>
													<input type="submit" class="btn ma-btn ma-download-btn ma-great-text-btn" value="Exportar CSV"
														onclick="document.fPer.action = '/nedaes/exportPerceptor'; document.fPer.method='get'; document.fPer.submit()" />
												</div>

												<div class="panel-body">
													<div class="panel-info container">
														<div class="row">
															<div class="col-md-12">
																<div class="table-responsive">
																	<table class="ma-table table">
																		<thead>
																			<tr>
																				<th>Nombre</th>
																				<th>Apellidos</th>
																				<th>DNI</th>
																				<th>Provincia</th>
 																				<th>SIT</th>
																				<th>DUP</th>
																				<th>CLASE NOMINA</th>
											                					<th>HABILITACION</th>  
											                					<th>BANCO</th>
																				<th>Acciones</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="per : ${listado}">
																				<td th:text="${per.nombre}"></td>
																				<td th:text="${per.apellidos}"></td>
																				<td th:text="${per.Dni}"></td>
																				<td th:text="${per.Provincia.dsprov}"></td>
																				<div th:unless="${per.bperadm  == null}" ><td th:text="${per.bperadm.cdsitnom}"></td></div><div th:if="${per.bperadm == null}" ><td></td></div>																				
																				<td th:text="${per.Dup}"></td>
																				<td th:text="${per.clasenomina.dsclasnm}"></td>
																				<td th:text="${per.habilitacion.cdhabil}"></td>
<!-- 																				<div th:unless="${per.bperban == null}">
																				
																				   <div th:unless="${per.bperban.cdbanco == null}">
 																				   	 <div th:unless="${per.bperban.cdbanco == ''}">

																				     <div th:unless="${per.bperban.banco == null}">
																				     
																				       <td th:text="${per.bperban.banco.dsbanco}"></td>

																				     </div>
																				     <div th:if="${per.bperban.banco == null}"><td></td></div>
																				     </div>
																				     <div th:if="${per.bperban.cdbanco == ''}"><td></td></div>
																				   </div>
																				   <div th:if="${per.bperban.cdbanco == null}"><td></td></div>
																				</div>
																				<div th:if="${per.bperban == null}" >
-->
																				<td></td>
<!--																				</div> 
--> 
																				<td>
																					<ul class="ma-btn-acciones">
																						<li><a th:href="@{/visualizarPerceptor?(id=${per.idPerceptor})}" class="ma-btn ma-btn-config"></a></li>
																						<li><a th:href="@{/editarPerceptor?(id=${per.idPerceptor})}"     class="ma-btn ma-btn-edit"></a></li>
																						<li><a th:href="@{/borrarPerceptor?(id=${per.idPerceptor})}"	 class="ma-btn ma-btn-delete"></a></li>
																					</ul>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- class="table-responsive" -->
									<div class="d-flex pagination-content"> 
										<div class="form-group pagination-content_select">		
											<label for="eppResultados">Elementos/Página: </label> 
											<select	name="eppResultados" id="eppResultados"	th:value="${eppResultados}"	class="browser-default">
												<option value="10" th:attr="selected = (10 == ${eppResultados})">10</option>
												<option value="20" th:attr="selected = (20 == ${eppResultados})">20</option>
												<option value="50" th:attr="selected = (50 == ${eppResultados})">50</option>
											</select>
										</div>
										<div>Página [[${currentPage}]] de [[${totalPages}]]</div>

										<nav aria-label="Page navigation example"
											th:if="${totalPages > 1}">
											<ul class="pagination">
												<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
													<input	type="submit" class="page-link pagination-first" value="|<"	th:unless="${currentPage > totalPages}" aria-label="First"
														onclick="document.fPer.action = '/nedaes/consultaPerceptor/'+ 1; document.fPer.submit()">
												</li>

												<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
													<input type="hidden" id="antPage" name="antPage"        th:if="${currentPage > 1}"	th:value="${currentPage}==null?0: ${currentPage}-1">
													<input type="submit" class="page-link pagination-prev"	th:if="${currentPage > 1}" value="<"          th:unless="${currentPage > totalPages}" aria-label="Previous"
														onclick="document.fPer.action = '/nedaes/consultaPerceptor/' + antPage.value; document.fPer.submit()">
												</li>

												<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
													<input type="hidden" id="sigPage" name="sigPage" th:value="${currentPage}==null?2: ${currentPage}+1">
													<input type="submit" class="page-link pagination-next"	th:if="${currentPage < totalPages}" value=">" th:unless="${currentPage > totalPages}" aria-label="Next"
														onclick="document.fPer.action = '/nedaes/consultaPerceptor/' + sigPage.value; document.fPer.submit()">
												</li>

												<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
													<input type="hidden" id="totalPage" name="totalPage"   th:if="${currentPage < totalPages}" th:value="${totalPages}"> 
													<input type="submit" class="page-link pagination-last" th:if="${currentPage < totalPages}" value=">|" th:unless="${currentPage > totalPages}" aria-label="First"
														onclick="document.fPer.action = '/nedaes/consultaPerceptor/'+ totalPage.value; document.fPer.submit()">
												</li>
											</ul>
										</nav>
									</div>
								</form>
							</div>
							<!-- antes del form -->
						</div>
						<!-- col med 12 -->
					</div>
				</div>
				<!-- main cierra col-md-9 contenido -->
			</div>
			<!-- main cierra row-offcanvas-left -->
		</div>
		<!-- main cierra col-md-12 main-->
	</div>
	<!-- cierra row -->

	<!-- Cierre containeer -->

	<!-- Footer -->
	<div th:replace="Footer.html :: pie"></div>
	<!-- End Footer -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script th:src="@{/js/script.js}"></script>

</body>
</html>
