<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport">
<title>HABILITACION PERSONAL</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link th:href="@{/css/style-magrama-rwd.css}" rel="stylesheet" />
<link th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>

<body>

<script th:inline="javascript">
function CargarLocalidades() {	
	$("#localid").load("/nedaes/ListarLocalidProvincPersonalEdit",  $("#provinc").serialize());
}

function CargarSucursales() {	
	$("#sucurba").load("/nedaes/ListarSucurbaBancoPersonalEdit",  $("#banco").serialize());
}

</script>

	<!-- Header -->
	<div th:replace="Header.html :: header"></div>

	<!-- End Header -->

	<!-- Container -->
	<div class="container">
		<!-- contenido de la página -->
		<div class="col-md-12">
			<div class="row clearfix">
				<div class="migas">
					<ul>
						<li xmlns:myobj="mgm:component-link"><a	href="https://portal.mineco.gob.es/">Inicio</a></li>
						<li><b>Habilitación Personal</b></li>
					</ul>
				</div>
				<div class="col-md-12" id="main">
					<!-- contenedor principal -->
					<div class="row row-offcanvas row-offcanvas-left">
						<div class="col-xs-0 col-sm-3 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
							<div th:replace="Menu.html :: menuNedaes"></div>
						</div>
						<!-- /sidebar offcanvas -->
						<div class="col-xs-12 col-sm-9 col-md-9 contenido">
							<h2 class="pestana-titulo col-md-9">Habilitaciones de datos Personales</h2>
							<span class="pestana-flecha"></span>

							<!-- Fin Barra de herramientas -->
							<div class="col-md-12 contenido subhome-new">

							<!-- CONTENIDO -->
							<div>
							  	<div class="panel">
									<div class="title-container" th:if="${aniadir == 'si'}">
										<h3 id="ancla0" class="ma-panel-title">Añadir</h3>			
									</div>
									<div class="title-container" th:if="${editar == 'si'}">
										<h3 id="ancla0" class="ma-panel-title">Modificar</h3>			
									</div>
									<div class="title-container" th:if="${consultar == 'si'}">
										<h3 id="ancla0" class="ma-panel-title">Consultar</h3>			
									</div>
									<form th:action="@{/insertarModificarHabilitacionPersonal}" enctype="multipart/form-data"  th:object="${habilitacionPersonal}" id="habilitacionPersonal" name ="habilitacionPersonal">
										<input type="hidden" name="idHabilitacion" id="idHabilitacion" th:field="*{idHabilitacion}" />
										<div class="panel-body">
										
											<!-- Consultar -->
											<div class="panel-info container" th:if="${consultar == 'si'}">
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{cdhabil}" disabled/>
															<label for="cdhabil">Cdhabil: </label>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{dsorg}" disabled/>
															<label for="dsorg">Dsorg: </label>
														</div>
													</div>
											
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{dscentro}" disabled/>
															<label for="dscentro">Dscentro: </label>
														</div>
													</div>
											
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{provinc.cdprov}" disabled/>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{provinc.dsprov}" disabled/>
														</div>
													</div>
												</div>

												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{delhac.dsdelhac}" disabled/>
															<label for="provinc">DELHAC: </label>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{sigdom.dssiglas}" disabled/>
															<label for="provinc">SIGDOM: </label>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{provinc.cdprov}" disabled/>
															<label for="provinc">provincia</label>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{banco.dsbanco}" disabled/>
															<label for="provinc">BANCO: </label>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{delhac.dsdelhac}" disabled/>
															<label for="delhac">DELHAC: </label>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{sigdom.dssiglas}" disabled/>
															<label for="sigdom">SIGDOM: </label>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{banco.dsbanco}" disabled/>
															<label for="banco">BANCO: </label>
														</div>
													</div>
												</div>
										
												<br/>
												<div class="row">
													<div>
														<div class="form-group">
															<a th:href="@{consultaHabilitacion}" class="btn btn-primary">Volver</a>  
														</div>
													</div>
												</div>
											</div> <!-- Consultar -->
									
											<!-- Añadir o Editar -->
											<div class="panel-info container" th:unless="${consultar == 'si'}"><!-- consultar = no -->
											
												<div class="row" >
													<div class="col-md-4"> DATOS MINISTERIO / ORGANISMO
													</div>
												</div>	
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{cdhabil}" id="cdhabil" name="cdhabil" maxlength="3" required/>
															<label for="cdhabil">Cdhabil: *</label>
															<small th:if="${#fields.hasErrors('cdhabil')}" th:errors="*{cdhabil}" class="form-text text-danger"></small>
														</div>
													</div>
													
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{dsorgext}" id="dsorgext" name="dsorg" maxlength="60" required/>
															<label for="dsorgext">Denominación (Extensa): *</label>
															<small th:if="${#fields.hasErrors('dsorgext')}" th:errors="*{dsorgext}" class="form-text text-danger"></small>													
														</div>
													</div>
													
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{dsorg}" id="dsorg" name="dsorg" maxlength="36" required/>
															<label for="dsorg">Dsorg: *</label>
															<small th:if="${#fields.hasErrors('dsorg')}" th:errors="*{dsorg}" class="form-text text-danger"></small>													
														</div>
													</div>
																			
													<div class="col-md-4">
														<div class="form-group">															
															<select id="delhac" name="delhac" th:field="*{delhac}"	class="user-form-control">
																<option th:each="d : ${delhacs}" th:value="${d.cddelhac}" 
																        th:attr="selected = (${delhac.getCddelhac()} == ${d.cddelhac})"
																		th:text="${d.dsdelhac}"/>
  															</select> <label for="delhac">DelHac: </label>
														</div>
													</div>
																					
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{dscentro}" id="dscentro" name="dscentro" maxlength="60"/>
															<label for="dscentro">Dscentro: </label>
															<small th:if="${#fields.hasErrors('dscentro')}" th:errors="*{dscentro}" class="form-text text-danger"></small>
														</div>
													</div>
												</div>
												<div class="row" > 
													<div class="col-md-4">
														<div class="form-group" >															
															<select id="banco" name="banco" th:field="*{banco}" onchange="CargarSucursales();" class="user-form-control">
																<option th:each="b : ${bancos}"
																     	th:value="${b.idbanco}"
																		th:attr="selected = (${banco.getIdbanco()} == ${b.idbanco})"
																		th:text="${b.dsbanco}"/>
															</select> <label for="banco">Banco: </label>
														</div>
													</div>		
	
					 								<div class="col-md-4">
   														<div class="form-group" >  
															<select id="sucurba" name="sucurba" th:field="*{sucurba}" class="user-form-control">
																<option th:fragment="fragsucurba" th:each="s : ${sucurbas}"
																		th:value="${s.idsucurba}"
																		th:attr="choiceid=${s.idsucurba}"	
																		th:text="${s.cdsucur}" />
															</select> <label for="sucurba">Sucursal bancaria: </label>
														</div>												
 													</div>
													
													<div class="col-md-4">
														<div class="form-group" > 
															<select id="sigdom" name="sigdom" th:field="*{sigdom}"	class="user-form-control">
																<option th:each="s : ${sigdoms}"
																		th:value="${s.idsigdom}"
																		th:attr="selected = (${sigdom.getIdsigdom()} == ${s.idsigdom})"
																		th:text="${s.dssiglas}" />
															</select> <label for="sigdom">SigDom: </label>
														</div>
  													</div>
												</div>
											
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{cdsiglas}" id="cdsiglas" name="cdsiglas" maxlength="2" required/>
															<label for="cdsiglas">Tipo Via: *</label>
															<small th:if="${#fields.hasErrors('cdsiglas')}" th:errors="*{cdsiglas}" class="form-text text-danger"></small>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{dscalle}" id="dscalle" name="dscalle" maxlength="21" required/>
															<label for="dscalle">Calle: *</label>
															<small th:if="${#fields.hasErrors('dscalle')}" th:errors="*{dscalle}" class="form-text text-danger"></small>													
														</div>
													</div>	
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{dsnumero}" id="dsnumero" name="dsnumero" maxlength="5"/>
															<label for="dsnumero">Número: </label>
															<small th:if="${#fields.hasErrors('dsnumero')}" th:errors="*{dsnumero}" class="form-text text-danger"></small>													
														</div>
													</div>	
												</div>										
											
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{cdpostal}" id="cdpostal" name="cdpostal" maxlength="5" required/>
															<label for="cdpostal">CP: *</label>
															<small th:if="${#fields.hasErrors('cdpostal')}" th:errors="*{cdpostal}" class="form-text text-danger"></small>
														</div>
													</div>
												
													<div class="col-md-4">
														<div class="form-group" > 
		 													<select id="provinc" name="provinc" th:field="*{provinc}" onchange='CargarLocalidades()' class="user-form-control">
																<option th:each="p : ${provincs}"
																		th:value="${p.cdprov}"
																		th:attr="selected = (${provinc.getCdprov()} == ${p.cdprov})"
																		th:text="${p.dsprov}"/>
															</select> <label for="provinc">Provincia: </label>
	  													</div>
													</div>
										
													<div class="col-md-4">
   														<div class="form-group" >  
															<select id="localid" name="localid" th:field="*{localid}" class="user-form-control">
																<option th:fragment="fraglocalid" th:each="l : ${localids}"
																		th:value="${l.idlocalid}"
																		th:attr="choiceid=${l.idlocalid}"																		
																		th:text="${l.dsloc}" />
															</select> <label for="localid">Localid: </label>
														</div>												
 													</div>
												</div>	
									
												<div class="row" >
													<div class="col-md-4"> TITULARES
													</div>
												</div>	
																													
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{dshabil}" id="dshabil" name="dshabil" maxlength="60" required/>
															<label for="dshabil">Habilitado: *</label>
															<small th:if="${#fields.hasErrors('dshabil')}" th:errors="*{dshabil}" class="form-text text-danger"></small>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{dssuplen}" id="dssuplen" name="dssuplen" maxlength="60"/>
															<label for="dssuplen">Suplente: </label>
															<small th:if="${#fields.hasErrors('dssuplen')}" th:errors="*{dssuplen}" class="form-text text-danger"></small>													
														</div>
													</div>	
												</div>
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{nombre}" id="nombre" name="nombre" maxlength="15" required/>
															<label for="nomcert">Certificados INS/SEPE: Nombre: *</label>
															<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="form-text text-danger"></small>													
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{apellido1}" id="apellido1" name="apellido1" maxlength="20" required/>
															<label for="apellido1">Apellido 1: *</label>
															<small th:if="${#fields.hasErrors('apellido1')}" th:errors="*{apellido1}" class="form-text text-danger"></small>													
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{apellido2}" id="apellido2" name="apellido2" maxlength="20" required/>
															<label for="apellido2">Apellido 2: *</label>
															<small th:if="${#fields.hasErrors('apellido2')}" th:errors="*{apellido2}" class="form-text text-danger"></small>													
														</div>
													</div>			
												</div>	
												<div class="row" >
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{carcert}" id="carcert" name="carcert" maxlength="30" required/>
															<label for="carcert">Cargo: *</label>
															<small th:if="${#fields.hasErrors('carcert')}" th:errors="*{carcert}" class="form-text text-danger"></small>													
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{nmtelefcert}" id="nmtelefcert" name="nmtelefcert" maxlength="9"/>
															<label for="nmtelefcert">Teléfono: </label>
															<small th:if="${#fields.hasErrors('nmtelefcert')}" th:errors="*{nmtelefcert}" class="form-text text-danger"></small>													
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{nmfaxcert}" id="nmfaxcert" name="nmfaxcert" maxlength="9"/>
															<label for="nmfaxcert">Fax: </label>
															<small th:if="${#fields.hasErrors('nmfaxcert')}" th:errors="*{nmfaxcert}" class="form-text text-danger"></small>													
														</div>
													</div>			
												</div>			
													
												<div class="row" >
													<div class="col-md-4"> PARAMETROS PARA NOMINA</div>
												</div>	
											
												<div class="row" >
													<div class="col-md-4">  
														<div class="form-group">
															<select id="cddnom" name="cddnom" th:field="*{cddnom}" class="user-form-control">
																<option value="0">0-CONCEPTOS SUMADOS </option>
																<option value="1">1-CONCEPTOS DESGLOSADOS </option>
															</select>
															<label for="cddnom">Desglose de Conceptos: Nómina: *</label>
															<small th:if="${#fields.hasErrors('cddnom')}" th:errors="*{cddnom}" class="form-text text-danger"></small>
														</div>
													</div>
													<div class="col-md-4">   
														<div class="form-group">														
														    <select id="cddvar" name="cddvar" th:field="*{cddvar}" class="user-form-control">
														        <option value="0">0-CONCEPTOS SUMADOS </option>
																<option value="1">1-CONCEPTOS DESGLOSADOS </option>
															</select>
															<label for="cddvar">Variaciones: * </label>
															<small th:if="${#fields.hasErrors('cddvar')}" th:errors="*{cddvar}" class="form-text text-danger"></small>													
														</div>
													</div>
													<div class="col-md-4">   
										        		<div class="form-group">									        		
															<select id="cddrec" name="cddrec" th:field="*{cddrec}" class="user-form-control">
														        <option value="0">0-CONCEPTOS SUMADOS </option>
																<option value="1">1-CONCEPTOS DESGLOSADOS </option>
															</select>									        		
															<label for="cddrec">Recibo: *</label>
															<small th:if="${#fields.hasErrors('cddrec')}" th:errors="*{cddrec}" class="form-text text-danger"></small>													
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-md-4">  
														<div class="form-group">
															<label for="otcon10" >Prorrata P.extra Concepto 10 Extranjeros </label> 
															<input class="form-check-input" type="checkbox" th:field="*{otcon10}" id="otcon10" name="otcon10" 
																		                                    th:value="${otcon10 == '0'? null: '1'}" /> 
														</div>												
													</div>
													<div class="col-md-4"> 
												        <div class="form-group">
															<label for="otc10_rdl202012">Supresion PE/PAdic.en C10 RDL202012 </label> 
															<input class="form-check-input" type="checkbox" th:field="*{otc10_rdl202012}" id="otc10_rdl202012" name="otc10_rdl202012" 
																		                                    th:value="${otc10_rdl202012 == '0'? null: '1'}" /> 
														</div>	  
													</div>
													<div class="col-md-4">   
												        <div class="form-group">
															<label for="otpacepro">Prorrata Paga Adicional </label> 
															<input class="form-check-input" type="checkbox" th:field="*{otpacepro}" id="otpacepro" name="otpacepro" 
																		                                    th:value="${otpacepro == '0'? null: '1'}" /> 
														</div>	
													</div>										
												</div>
											
												<br/>										
												<div class="row" >
													<div class="col-md-4">   
														<div class="form-group">
															<label for="cdraapp">AAPP de Historia para Reintegros </label> 
															<input class="form-check-input" type="checkbox" th:field="*{cdraapp}" id="cdraapp" name="cdraapp" 
									  						                                               th:value="${cdraapp == '0'? null: '1'}" /> 
														</div>
													</div>
								  					<div class="col-md-4">  
														<div class="form-group">
														<label for="cdssperso">% Días MUFACE, D.Pasivos Permiso sin Sueldo</label> 
															<input class="form-check-input" type="checkbox" th:field="*{cdssperso}" id="cdssperso" name="cdssperso" 						
															                                               th:value="${cdssperso == '0'? null: '1'}" /> 
														</div>
													</div>
										  		</div>	
										    	<br/>
										  		<div class="row" >
													<div class="col-md-4">  
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{nmmaxanxaapp}" id="nmmaxanxaapp" name="nmmaxanxaapp" maxlength="3" required/>
															<label for="nmmaxanxaapp">Máximo Anexos AAPP:: *</label>
															<small th:if="${#fields.hasErrors('nmmaxanxaapp')}" th:errors="*{nmmaxanxaapp}" class="form-text text-danger"></small>
														</div>
													</div>
													<div class="col-md-4">   
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{nmaappanx}" id="nmaappanx" name="nmaappanx" maxlength="2" required/>
															<label for="nmaappanx">AAPP por Anexo: * </label>
															<small th:if="${#fields.hasErrors('nmaappanx')}" th:errors="*{nmaappanx}" class="form-text text-danger"></small>													
														</div>
													</div>
													<div class="col-md-4">   
												        <div class="form-group">
															<input class="material-inputs" type="text" th:field="*{nmmaxanxdes}" id="nmmaxanxdes" name="nmmaxanxdes" maxlength="3" required/>
															<label for="nmmaxanxdes">Máximo Anexos Descuentos: *</label>
															<small th:if="${#fields.hasErrors('nmmaxanxdes')}" th:errors="*{nmmaxanxdes}" class="form-text text-danger"></small>													
														</div>
													</div>
										
													<div class="col-md-4">   
 														<div class="form-group">
															<label for="ottelcon1">TELCON Modo Documento Electrónico</label> 
															<input class="form-check-input" type="checkbox" th:field="*{ottelcon1}" id="ottelcon1" name="ottelcon1" 						
													    		                                           th:value="${ottelcon1 == '0'? null: '1'}" /> 
		  												</div>
													</div>									
												</div>	
												<br/>		
												<div class="row" >
													<div class="col-md-4">  
														<div class="form-group">												
															<label for="otrecibi">Imprimir "RECIBÍ" N2</label> 
															<input class="form-check-input" type="checkbox" th:field="*{otrecibi}" id="otrecibi" name="otrecibi" 						
													    		                                           th:value="${otrecibi == '0'? null: '1'}" /> 
														</div>												
													</div>
												</div>	
												<br/><br/>
												<div class="row" >
													<div class="col-md-4"> DATOS SIGP
													</div>
												</div>	
									
												<div class="row" >
													<div class="col-md-4">  
														<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{cddnisigp}" id="cddnisigp" name="cddnisigp" maxlength="9"/>
															<label for="cddnisigp">DNI Habilitado: </label>
															<small th:if="${#fields.hasErrors('cddnisigp')}" th:errors="*{cddnisigp}" class="form-text text-danger"></small>
														</div>
													</div>
										
													<div class="col-md-4">   
											        	<div class="form-group">
															<input class="material-inputs" type="text" th:field="*{cdususigp}" id="cdususigp" name="cdususigp" maxlength="8"/>
															<label for="cdususigp">Usuario: </label>
															<small th:if="${#fields.hasErrors('cdususigp')}" th:errors="*{cdususigp}" class="form-text text-danger"></small>													
														</div>
													</div>
										
												<div class="col-md-4">   
											        <div class="form-group">
														<input class="material-inputs" type="text" th:field="*{cdpasswsigp}" id="cdpasswsigp" name="cdpasswsigp" readonly/>													
														<label for=" ">Contraseña:</label>																				
													</div>
												</div>
											</div>	
																					
										<!-- Si hay error al insertar un perceptor que ya existe -->
											<div class="col-md-8" th:if="${mensajeError != null}">
												<div class="form-group">
													<p th:text="${mensajeError}" class="form-text text-danger"></p>
												</div>
											</div>
											<br/>
											<p>* Campo obligatorio</p>
											<br/>
											<div class="row">
												<div class="col-md-4 text-center" th:if="${editar == 'si' || aniadir == 'si'}">											
													<input type="submit" class="btn btn-primary">
													<a th:href="@{consultaHabilitacion}" class="btn btn-primary">Volver</a> 
												</div>									
											</div>
										</div>	<!-- Añadir o Editar -->
									</div>	
								</form>
								<br/>
								<div class="panel" th:if="${mostrarTabla == 'si'}">
									<div class="panel-body">
							  			<div class="panel-info container">
											<div class="row">
												<div class="table-responsive">
													<table class="ma-table table">
														<thead>
															<tr>
																<th>CCHABIL</th>
												                <th>DENOMINACION (EXTENSA)</th>
												                <th>DENOMINACION</th>
												                <th>CENTRO</th>
												                <th>TIPO VIA</th>
												                <th>DELHAC</th> 
												                <th>BANCO</th> 
												                <th>SUCURSAL BANCARIA</th>
												                <th>TIPO VIA</th> 
												                <th>CALLE</th> 
												                <th>NUMERO</th> 
												                <th>COD. POSTAL</th>
											    	            <th>PROVINCIA</th>
											        	        <th>LOCALIDAD</th>
											            	    <th>HABILITADO</th>
											                	<th>SUPLENTE</th>
												                <th>NOMBRE</th>
												                <th>APELLIDO 1</th>
																<th>APELLIDO 2</th>
																<th>CARGO</th>
																<th>TFNO</th>
																<th>FAX</th>
																<th>NOMINA</th>
																<th>VARIACIONES</th>
																<th>RECIBO</th>
																<th>PROR. P.EXTRA CONC.10 EXT.</th>
																<th>SUP. PE/PAdic. C10 RDL202012</th>
																<th>PRORRATA PAGA ADICIONAL</th>
																<th>AAPP DE Hª PARA REINTEGROS </th>
																<th>CALCULO PROPORCIONAL A DIAS MUFACE, D. PASIVOS PARA PERM. SIN SUELDO</th>
																<th>MAX. ANEXOS APP</th>
																<th>AAPP POR ANEXO</th>
																<th>MAX. ANEX. DESCUENTOS</th>
																<th>TELCON MODO DOCUMENTO ELECTRONICO</th>
																<th>IMPRIMIR "RECIBÍ" N2</th>
																<th>DNI HABILITADO</th>
																<th>USUARIO</th>
																<th>CONTRASEÑA</th>															
															</tr>
														</thead>
													<tbody>
														<tr th:each="h:${habilitacionNuevaModificada}">
															<td th:text="${h.cdhabil}"></td>
															<td th:text="${h.dsorgext}"></td>
															<td th:text="${h.dsorg}"></td>
															<td th:text="${h.dscentro}"></td>
															<td th:text="${h.sigdom.dssiglas}"></td>
															<td th:text="${h.delhac.dsdelhac}"></td>
															<td th:text="${h.banco.dsbanco}"></td>
															<td th:text="${h.sucurba.cdsucur}"></td>
															<td th:text="${h.cdsiglas}"></td>
															<td th:text="${h.dscalle}"></td>
															<td th:text="${h.dsnumero}"></td>
															<td th:text="${h.cdpostal}"></td>
															<td th:text="${h.provinc.dsprov}"></td>
															<td th:text="${h.localid.dsloc}"></td>	
															<td th:text="${h.dshabil}"></td>
															<td th:text="${h.dssuplen}"></td> 
															<td th:text="${h.nombre}"></td>
															<td th:text="${h.apellido1}"></td> 
															<td th:text="${h.apellido2}"></td>
															<td th:text="${h.carcert}"></td>
															<td th:text="${h.nmtelefcert}"></td>
															<td th:text="${h.nmfaxcert}"></td>
															<td th:text="${h.cddnom}"></td> 		
															<td th:text="${h.cddvar}"></td> 		
															<td th:text="${h.cddrec}"></td> 
															<td th:text="${h.otcon10}"></td>
															<td th:text="${h.otc10_rdl202012}"></td>
															<td th:text="${h.otpacepro}"></td>
															<td th:text="${h.cdraapp}"></td>
															<td th:text="${h.cdssperso}"></td>
															<td th:text="${h.nmmaxanxaapp}"></td>
															<td th:text="${h.nmaappanx}"></td>
															<td th:text="${h.nmmaxanxdes}"></td>
															<td th:text="${h.ottelcon1}"></td>
															<td th:text="${h.otrecibi}"></td>
															<td th:text="${h.cddnisigp}"></td>
															<td th:text="${h.cdususigp}"></td>
															<td th:text="${h.cdpasswsigp}"></td>								
														</tr>    
													</tbody>
												</table>
											</div>	<!-- class="table-responsive" -->
										</div>
									</div> 
							  	</div>	
							</div>											
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div> <!-- main cierra col-md-9 contenido -->
			</div> <!-- main cierra row-offcanvas-left -->
		  </div>  <!-- main cierra col-md-12 main-->
		</div><!-- cierra row -->

		<!-- Cierre containeer -->

	<!-- Footer -->
	<div th:replace="Footer.html :: pie"></div>
	<!-- End Footer -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script th:src="@{/js/script.js}"></script>
	
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/jquery-min.js}"></script>
	<script th:src="@{/js/webjars-requierejs.js}"></script>
</body>

</html>