<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
   <meta charset="UTF-8">
   </head>
   <body>
		<div th:fragments= "header">
			<header class="sticky">
				<div>
					<div class="header home">
						<div class="flex-container">
							<div class="logo-header">
								<div class="logos">
									<a accesskey="0" target="_blank" class=""
										href="https://www.mpr.gob.es/"> <img class="img-responsive"
										src="/nedaes/img/logo-gobiernoespana-app.png"
										title="Ministerio de la Presidencia"
										alt="Ministerio de la Presidencia">
									</a> <a accesskey="0" target="_self" class=""
										href="https://portal.mineco.gob.es/es-es/Paginas/default.aspx"> <img
										class="img-responsive"
										src="/nedaes/img/vice1GobWeb.png"
										title="Ministerio de Asuntos Económicos y Transformación digital"
										alt="Ministerio de Asuntos Económicos y Transformación digital">
									</a>
								</div>
							</div>
							<div class="info-header">
								<h1 class="hidden-xs">
									<a accesskey="0" href="https://portal.mineco.gob.es/es-es/"
										title="Ministerio de Asuntos Económicos y Transformación digital">
										Ministerio de Asuntos Económicos y Transformación digital</a>
								</h1>
							</div>
						</div>												
					</div>
				</div>
			</header>
		</div>
	</body>
</html>