<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Getting Started: Serving Web Conten</title></head>
<body>
    <p th:text="'Hola ' + ${cabecera} + '!'" />
    
    
    <table>
    	<th:block th:each="pro : ${provincias}">
    		<tr>
    			<td th:text="${pro.idProvincia}"> </td>
    			<td th:text="${pro.dsprov}"> </td>
    			<td th:text="${pro.cdprov}"> </td>
    			
    		</tr>
    	</th:block>
    		
    </table>
    	
</body>
</html>