<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport">
<title>NEDAES</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link th:href="@{/css/style-magrama-rwd.css}" rel="stylesheet" />
<link th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>

<body>
	<!-- Header -->
	<div th:replace="Header.html :: header"></div>

	<!-- End Header -->

	<!-- Container -->
	<div class="container">
		<!-- contenido de la página -->
		<div class="col-md-12">
			<div class="row clearfix">
				<div class="migas">
					<ul>
						<li xmlns:myobj="mgm:component-link"><a
							href="https://portal.mineco.gob.es/">Inicio</a></li>
						<li><b>Nedaes</b></li>
					</ul>					
				</div>
				<div class="col-md-12" id="main">
					<!-- contenedor principal -->
					<div class="row row-offcanvas row-offcanvas-left">
						<div class="col-xs-0 col-sm-3 col-md-3 sidebar-offcanvas"
							id="sidebar" role="navigation">
							<div th:replace="Menu.html :: menuNedaes"></div>
						</div>
						<!-- /sidebar offcanvas -->
						<div class="col-xs-12 col-sm-9 col-md-9 contenido">
							<h2 class="pestana-titulo col-md-9">NEDAES</h2>

							<span class="pestana-flecha"></span>


							<!-- Fin Barra de herramientas -->
							<h2>
							<div class="col-md-12 contenido subhome-new"></div>
							</h2>
							<!-- col med 12 -->


							<div class="normal">
								<p align="justify" style="text-indent: 1cm; font-size: 16pt;">Informes SSn1 generados en red.</p>
								<br />
								<div class="normal"></div>
								<div class="separador"></div>
								<div class="normal"></div>
							</div>
							<div class="contenedor_simple" style="left: 35px; width: 90%;">
								<a class="comentario"></a>
							</div>


<div class="contenedor_separador1"><br><br></div>
<div class="contenedor_separador1"><br><br></div>
<div class="contenedor_separador1"><br><br></div>
<div class="contenedor_separador1"><br><br></div>
<div class="contenedor_separador1"><br><br></div>
<div class="contenedor_separador1"><br><br></div>
<div class="contenedor_separador1"><br><br></div>



						</div>
					</div>
					<!-- main cierra col-md-9 contenido -->
				</div>
				<!-- main cierra row-offcanvas-left -->
			</div>
			<!-- main cierra col-md-12 main-->
		</div>
		<!-- cierra row -->

		<!-- Cierre containeer -->

		<!-- Footer -->
		<div th:replace="Footer.html :: pie"></div>
		<!-- End Footer -->

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>

		<script th:src="@{/js/script.js}"></script>
</body>